<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <div class="latest">
        <f:for each="{signatures}" as="signature">
            <div class="signature">
                <div class="name">{signature.name} ({signature.location})</div>
            </div>
        </f:for>
        <p>
            <f:link.page pageUid="{settings.listPage}">
                <f:translate key="viewList"/>
            </f:link.page>
        </p>
    </div>

</f:section>
</html>
