<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <div class="list">
        <p>
            <f:translate key="signatureCount" arguments="{0: '{signatures->f:count()}'}"/>
        </p>
        <f:widget.paginate objects="{signatures}" as="paginatedSignatures" configuration="{itemsPerPage: 10}">
            <f:for each="{paginatedSignatures}" as="signature">
                <div class="signature">
                    <div class="name">{signature.name} ({signature.location})</div>
                    <f:if condition="{signature.message}">
                        <div class="message">
                            «<f:format.nl2br>{signature.message}</f:format.nl2br>»
                        </div>
                    </f:if>
                </div>
            </f:for>
        </f:widget.paginate>
    </div>

</f:section>
</html>
