@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
body {
	background-color: #FFECBE;
	background-size: cover;
	background-attachment: fixed;
	font-weight: 400;
}

.home-link {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 3rem;
	a {
		color: $white;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}
.language-menu {
    list-style-type: none;
    text-align: right;
	li {
		padding-top: 1rem;
		a {
	      color: $white;
    	  font-weight: bold;
  		}
	}
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 3rem;
	color: $primary;
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	color: $primary;
}
h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	color: $primary;
}
a:hover {
	color: darken($primary, 10%);
}
.btn {
	border-radius: 0.5rem;
	font-size: 1.25rem;
}
.btn-primary {
	color: $white;
	&:hover {
		color: $gray-100;
	}
}
.btn-secondary {
	background-color: $white;
	color: darken($primary, 10%);
	border: none;
	&:hover {
		background-color: $white;
		color: darken($primary, 25%);
	}
}
.main-section .frame-container {
    background-color: rgb(255,255,255,0.75);
    padding: 1rem;
}
.tx-petition {
	.signature {
		margin-bottom: 0.5rem;
	}

	.name {
		font-weight: bold;
	}

	.message {
		font-style: italic;
		margin-left: 1rem;
		padding-left: 1rem;
		border-left: 2px solid $gray-600;
	}
}

.footer-section-meta {
    color: #ffffff;
    background-color: rgba(35, 35, 35, 0.6);
}