<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable}">
    <section class="section footer-section footer-section-meta">
        <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
            <div class="frame-container">
                <div class="frame-inner">
                    <f:if condition="{theme.meta.enable}">
                        <div class="footer-meta">
                            <f:render partial="Navigation/Meta" arguments="{_all}" />
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</f:if>
</html>
