<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{languagenavigation}">
    <ul id="language_menu" class="language-menu">
        <f:for each="{languagenavigation}" as="item">
            <f:if condition="!{item.active}">
                <f:then>
                    <li class="{f:if(condition: item.available, else: 'text-muted')}">
                        <f:if condition="{item.available}">
                            <f:then>
                                <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                                    <span>{item.navigationTitle}</span>
                                </a>
                            </f:then>
                            <f:else>
                                <span>{item.navigationTitle}</span>
                            </f:else>
                        </f:if>
                    </li>
                </f:then>
            </f:if>
        </f:for>
    </ul>
</f:if>
</html>
