<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container-fluid navigation">
	<div class="row">
		<div class="col col-6">
			<f:cObject typoscriptObjectPath="lib.link.home"/>
		</div>
		<div class="col col-6">
			<f:render partial="Navigation/Language" arguments="{_all}"/>
		</div>
	</div>
</div>
</html>