<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{configuration.insertAbove}">
    <f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
    <f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}" />
</f:if>

<f:section name="paginator">
    <nav class="f3-widget-paginator">
        <ul class="pagination">
            <f:if condition="{pagination.previousPage}">
                <li class="page-item previous">
                    <f:if condition="{pagination.previousPage} > 1">
                        <f:then>
                            <f:widget.link rel="prev" arguments="{currentPage: pagination.previousPage}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">«</f:widget.link>
                        </f:then>
                        <f:else>
                            <f:widget.link rel="prev" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">«</f:widget.link>
                        </f:else>
                    </f:if>
                </li>
            </f:if>
            <f:if condition="{pagination.displayRangeStart} > 1">
                <li class="page-item first">
                    <f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">1</f:widget.link>
                </li>
            </f:if>
            <f:if condition="{pagination.hasLessPages}">
                <li class="page-item disabled">…</li>
            </f:if>
            <f:for each="{pagination.pages}" as="page">
                <f:if condition="{page.isCurrent}">
                    <f:then>
                        <li class="page-item active">
                            <f:widget.link arguments="{currentPage: page.number}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">{page.number}</f:widget.link>
                        </li>
                    </f:then>
                    <f:else>
                        <li class="page-item">
                            <f:if condition="{page.number} > 1">
                                <f:then>
                                    <f:widget.link arguments="{currentPage: page.number}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">{page.number}</f:widget.link>
                                </f:then>
                                <f:else>
                                    <f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">{page.number}</f:widget.link>
                                </f:else>
                            </f:if>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
            <f:if condition="{pagination.hasMorePages}">
                <li class="page-item disabled">…</li>
            </f:if>
            <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
                <li class="page-item last">
                    <f:widget.link arguments="{currentPage: pagination.numberOfPages}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">{pagination.numberOfPages}</f:widget.link>
                </li>
            </f:if>
            <f:if condition="{pagination.nextPage}">
                <li class="page-item next">
                    <f:widget.link rel="next" arguments="{currentPage: pagination.nextPage}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" class="page-link">»</f:widget.link>
                </li>
            </f:if>
        </ul>
    </nav>
</f:section>
</html>